// Colors SASS
$primary_color: #f58234;
$secondary_color: #576b81;

// Colors CSS
:root {
    --primary-color: #{$primary_color};
    --secondary-color: #{$secondary_color};
} 

// Text Sizes
$text_2xs: 12px;
$text_xs: 14px;
$text_sm: 16px;
$text_md: 18px;
$text_lg: 20px;
$text_xl: 24px;
$text_2xl: 28px;

@import "./mixins";